.scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost ::-moz-scrollbar {
    display: none;

}

.scrollhost {
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
}